@import "./fonts.scss";

$font-family: "Urbanist", sans-serif;

$color-base: #fff;
$color-grayBase: #000;
$color-brownish-gray: #41383866;
$color-light-gray: #f6f6f6;
$color-dark-slate-gray: #2c2c33;
$color-gunmetal-gray: #33333a;
